#companyform{
    display:flex;
  justify-content: center;
  width: 100vw;
  min-height: 102vh;
  height: 100%;
  padding-top: 10%;
}

#companyform input{
    background-color: rgb(236, 241, 236);
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-size:large;
  height: 39px;
  width: 256px;
  padding: 4%;
  margin-bottom: 14%;
  border: 1px solid #651616;
  border-radius: 20px;
  align-items: center;
  -ms-flex-align: center;
}

#signup{
 
    color: rgb(5, 9, 9);
    position: relative;
   text-align: center;
   font-size: 27px;
   padding-bottom: 9%;
   }

   #companyform #subbutton {
    display: inline-block;
  background-color: #050938;
  border: none;
  color: rgb(243, 237, 237);
  text-align: center;
  font-size: 22px;
  padding: 9px;
  cursor: pointer;
  position: relative;
  margin: 5px;
  width : 7rem;
  height: 3rem;
  left: 25%;
  box-shadow: 0 6px #3511ec;
  border-radius: 0px;
  }
  
  #companyform #subbutton:hover {
    background-color: #4b63dc; /* Green */
    color: white;
  }
  #companyform #subbutton:active {
    background-color: #053853;
    box-shadow: 0 5px #0ff4f4;
    transform: translateY(4px);
  }